.searchHistory {
  font-size: 15px;
  margin-top: 1px;
  color: #323232;
  background-color: #fff;
}

.searchHistory__header {
  padding: 8px 15px;
  color: #999;
  background-color: #f0f0f0;
}

.searchHistory__list {
  margin: 0;
  padding-left: 15px;
}

.searchHistory__item {
  line-height: 48px;
  display: block;
  overflow: hidden;
  height: 48px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #323232;
  background-color: #fff;
  background-image: linear-gradient(0, #e1e1e1, #e1e1e1 50%, transparent 50%);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: 100% 1px;
}

.searchHistory__clear {
  font-size: 15px;
  line-height: 45px;
  display: block;
  height: 45px;
  text-align: center;
  color: #333;
  border: none;
  background-color: #fff;
}
